- if params[:slide] == 'back'
  #slide_back
    .l
      = link_to show_url(@product, :slide => 'detail') do
        .thumb_image{"style" => "background-image:url(#{@detail.url(:thumb)})"}
    .m
      .full_image{"style" => "background-image:url(#{@back.url(:full)})"}
    .r
      = link_to show_url(@product, :slide => 'front') do
        .thumb_image{"style" => "background-image:url(#{@front.url(:thumb)})"}

- if params[:slide] == 'front'
  #slide_front
    .l
      = link_to show_url(@product, :slide => 'back') do
        .thumb_image{"style" => "background-image:url(#{@back.url(:thumb)})"}
    .m
      .full_image{"style" => "background-image:url(#{@front.url(:full)})"}
    .r
      = link_to show_url(@product, :slide => 'detail') do
        .thumb_image{"style" => "background-image:url(#{@detail.url(:thumb)})"}

- if params[:slide] == 'detail'
  #slide_detail
    .l
      = link_to show_url(@product, :slide => 'front') do
        .thumb_image{"style" => "background-image:url(#{@front.url(:thumb)})"}
    .m
      .full_image{"style" => "background-image:url(#{@detail.url(:full)})"}
    .r
      = link_to show_url(@product, :slide => 'back') do
        .thumb_image{"style" => "background-image:url(#{@back.url(:thumb)})"}


