<!DOCTYPE html>
<html lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>Sweetsize</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<div id = 'shop'>
  <%= link_to 'Магазин', store_url %>
<div id = 'logout'>
  <%= link_to 'Выйти', 'logout' if admin? %>
</div>
</body>
</html>
