!!!
%html{ html_attrs('ru') }
  %head
    %title Sweetsize
    = stylesheet_link_tag "scaffold" 
    = stylesheet_link_tag "store", :media => "all" 
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    = yield
